{
  "discordWebhook": "<webhookUrl>",
  "websites": [
    {
      "name": "<websiteName>",
      "url": "<websiteUrl>",
      "selector": "<selectorToBeMonitored>",
      "cron": "<cronExpression>"
    }
  ]
}
